.form {
  width: 400px;
  border: 5px solid rgb(6, 6, 47);
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 108, 162, 0.8);
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.formLabel {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.9);
}

.formInput {
  width: 350px;
  height: 50px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
}

.button {
  display: flex;
  margin: 0 auto;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(30, 30, 170);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(50, 50, 250);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: rgb(5, 5, 130);
  box-shadow: 0 5px rgb(50, 50, 250);
}

.button:active {
  background-color: rgb(5, 5, 130);
  box-shadow: 0 3px rgb(50, 50, 250);
  transform: translateY(1px);
}